.container-header {
  display: flex;
  text-align: center;
  justify-content: center;
}
.container-header p {
  color: white;
  background: #000;
  transform: rotate(-90deg);
  font-size: 30px;
}
.container-header h1 {
  font: normal normal bold 71px/0px Montserrat;
  letter-spacing: 0px;
  color: #000;
}
.category {
  margin: 0 auto;
  width: 1000px;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 10px;
  border-bottom: 3px solid rgb(0, 0, 0);
}
.header a {
  color: #000;
  text-decoration: none;
}
