.hom {
  margin: 0 auto;
}
.home-item {
  margin: 30px auto;
  display: flex;
  width: 1000px;
  padding-bottom: 30px;
  border-bottom: 3px solid black;
}
.home-block1 h1 {
  height: 20px;
  color: white;
  position: absolute;
  top: 600px;
  left: 300px;
}
.home-block1 p {
  height: 20px;
  color: white;
  position: absolute;
  top: 650px;
  left: 327px;
}
.home-block1 img {
  width: 600px;
  height: 600px;
  padding-right: 5px;
  border-radius: 10px;
}
.home-block2 img {
  width: 400px;
  height: 296px;
  border-radius: 10px;
  padding-bottom: 5px;
}
